table {
     border-collapse: collapse;
     color: white;
}

th {
     background: #1C1E22;
     text-align: center;
}

th, td {
     border: 1px solid #ccc;
     padding: 8px;
}

tr:nth-child(even) {
     background: #2E3338;
}

tr:nth-child(odd) {
     background: #353A41;
}

tr:hover {
     background: #808080;
}
