body {
     color: white;
     font-family: Verdana;
}

table {
     border-collapse: collapse;
     margin-top: 50px;
     margin-bottom: 50px;
}

th {
     background: #1C1E22;
     text-align: center;
}

th, td {
     border: 1px solid #808080;
     padding: 8px;
}

tr:nth-child(even) {
     background: #2E3338;
}

tr:nth-child(odd) {
     background: #353A41;
}

tr:hover {
     background: #808080;
}

.chartbox {
     width: 40%;
     margin-top: 50px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 50px;
}

input {
     margin: 3px;
}

button {
     margin-top: 15px;
     font-family: Verdana;
}

a:link {
     color: #9d95d0;
     text-decoration: none;
}
a:visited {
     color: #9d95d0;
     text-decoration: none;
}
a:hover {
     color: #493e8e;
     text-decoration: none;
}
a:active {
     color: #483d8b;
     text-decoration: none;
}
